.meta:hover {
  text-decoration: underline;
  color: teal !important;
}
body {
  background: whitesmoke;
}

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
.ui.grid > .row > .column {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.invisible {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.ui.container.outer {
  width: 100%;
}

.ui.container.inner {
  width: 80%;
  margin-top: 70px;
}
.ui.form.commentForm > .field {
  margin-top: 10px;
}

.ui.card > .extra,
.ui.cards > .card > .extra {
  padding: 0.2em 1em;
}

.ui.labeled.button {
  margin-top: 10px;
}

.ui.comments {
  display: flex;
  margin: 0;
}
.ui.comments > .content {
  background: #f5f5f5;
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.ui.comments > .actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-muted {
  opacity: 0.6;
}

.ui.card.profile {
  width: 100%;
  background: #f9f9f9;
  margin: auto;
}
.ui.medium.circular.centered.image {
  background: rgba(0, 0, 0, 0);
  margin-top: 5px;
  margin-bottom: 5px;
}

.ui.cards > .card {
  border-radius: 1.3em;
  box-shadow: 0 1px 6px 0 #d4d4d5;
}

a {
  color: black;
}
.author.comment-author {
  text-decoration: solid;
  font-weight: bolder;
  font-weight: 2em;
}

.author.comment-author:hover {
  text-decoration: underline;
  cursor: pointer;
}
.ui.red.mini.button.delete-comment-btn {
  margin-top: 10px;
}

.add-remove-friend {
  margin-bottom: 10px;
}

.ui.cards > .card.profileCard {
  margin: auto;
}

.ui.form > .text-area textarea {
  border-radius: 20px;
  min-width: 100%;
  min-height: 39px;
  resize: none;

  overflow: hidden;
  overflow-wrap: break-word;
  background-color: #f9f9f9;
}

.text {
  overflow-wrap: break-word;
}

.commentDiv {
  width: 90%;
}
.commentDiv.options {
  width: 10%;
}
.commentDiv.options {
  display: flex;
  flex-direction: row-reverse;
}

.options {
  display: flex;
  flex-direction: column;
}
.options > .option {
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;
}

.ui.popup {
  padding: 0.49em;
}

.options > .option:hover {
  background: rgb(186, 186, 186);
}
.commentSection {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
  color: #fff;
  text-shadow: none;
}

.ui.feed > .event > .content {
  display: flex;
  flex-direction: column;
}

.ui.secondary.pointing.menu {
  display: flex;
  justify-content: center;
}

.ui.secondary.pointing.menu:nth-child(0) {
  margin-right: auto;
}
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-content > .ui.divided.relaxed.list > .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.ui.icon.input > i.icon {
  pointer-events: all !important;
}
.ui.icon.input > i.icon:hover {
  cursor: pointer;
}

.ui.teal.massive.pointing.secondary.menu > .item.search {
  padding: 0;
}
.ui.teal.massive.pointing.secondary.menu {
  background: whitesmoke;
}

.stickyTop {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.ui.grid {
  margin: 0;
}

.messagesPanel {
  width: 80%;
  height: 800px;
  margin: auto;
  display: flex;
}

.messages {
  border-radius: 15px 0 0 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(199, 199, 199);
  background: white;
}

.messageFrom {
  flex: 1;
  border-radius: 15px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.messageTo {
  flex: 14;
  border-radius: 0 0 0 15px;
  border-top: 1px solid rgb(199, 199, 199);
  background: white;
}

.chat {
  border: 1px solid rgb(199, 199, 199);
  border-left: none;
  background: white;

  border-radius: 0 15px 15px 0;
  flex: 4;
}

.messageUserInitials {
  height: 50px;
  width: 50px;
  margin-right: 0.5em;
  border: 2px solid #e5e6ea;
  border-radius: 25px;
  text-align: center;
  font-size: 18pt;
  padding-top: 12px;
}

.chatDisplay {
  display: flex;
  padding-bottom: 1em;
}

.messageStyling {
  padding: 1em;
  border-radius: 1em;
  max-width: 60%;
}
