.meta:hover {
  text-decoration: underline;
  color: teal !important;
}

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
.ui.grid > .row > .column {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.invisible {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

@media only screen and (min-width: 1200px) {
  .ui.container.outer {
    width: 100%;
  }

  .ui.container.inner {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .ui.container.outer {
    width: 100%;
  }

  .ui.container.inner {
    width: 50%;
  }
}

.ui.form.commentForm > .field {
  margin-top: 10px;
}
