.makePostArea {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* width: 700px; */

  padding: 20px;
  background-color: rgb(47, 60, 72);
  border-radius: 8px;
}

.ui.tiny.image.makePostImage {
  width: 45px;
  margin-right: 10px;
  align-self: flex-start;
}
.makePostArea > .field {
  flex: 5;
}
